# Airflow
AIRFLOW_UID=
AIRFLOW_FERNET_KEY=
AIRFLOW_JWT_SECRET=
AIRFLOW_USERNAME=
AIRFLOW_PASSWORD=

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=

# Object Storage
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_ENDPOINT=
MINIO_USE_SSL=
MINIO_REGION=
MINIO_BUCKET_NAME=
