# API
SEC_API_KEY = 
ALPHAVANTAGE_API_KEY = 
MASSIVE_API_KEY = 

# Database
DATABASE_URL = 

# Airflow
AIRFLOW_UID=
AIRFLOW_FERNET_KEY=
AIRFLOW_JWT_SECRET=
AIRFLOW_USERNAME=
AIRFLOW_PASSWORD=

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=