python-dotenv
pytz
boto3
requests
openmeteo-requests
requests-cache
retry-requests
hdfs
duckdb
pyarrow
pandas
numpy
scikit-learn
xgboost
imbalanced-learn
scipy
statsmodels
matplotlib
seaborn
pyspark
openpyxl
apache-airflow-providers-amazon